<content>
	<!-- device frame -->
	<div class="frame">
		<div class="speaker"></div>
	</div>

	<!-- homescreen -->
	<div class="reel">
		<!-- application icons goes here -->
	</div>
	<!-- navigation -->
	<ul class="nav">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ul>
	<!-- navigation -->
	<div class="dock">
		<!-- <span class="slot" style="--icon: url(/app/ant/icons/app-icon-bell.png);" data-name="Bell"></span>
		<span class="slot" style="--icon: url(/app/ant/icons/app-icon-chat.png);" data-name="Chat"></span> -->
		<span class="slot"></span>
		<span class="slot"></span>
		<span class="slot"></span>
		<span class="slot"></span>
	</div>
</content>
