<content>
	<!-- device frame -->
	<div class="frame">
		<div class="speaker"></div>
	</div>

	<!-- homescreen -->
	<div class="reel">
		<div class="view">
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-2048.png);" data-name="2048"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-othello.png);" data-name="Othello"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-spotify.png);" data-name="Spotify"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-bell.png);" data-name="Bell"></span>

			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-witness.png);" data-name="Witness Redux"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-finder.png);" data-name="Finder"></span>
			<span class="slot group">
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-textedit.png);"></span>
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-chat.png);"></span>
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-opus.png);"></span>

				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-solitaire.png);"></span>
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-eniac.png);"></span>
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-terminal.png);"></span>

				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-supermariobros.png);"></span>
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-voyager.png);"></span>
				<span class="slot" style="--icon: url(/app/ant/icons/app-icon-tetris.png);"></span>
			</span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-preferences.png);" data-name="Settings"></span>

			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-snake.png);" data-name="Snake"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-galcon.png);" data-name="Galatic Conquest"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-tangram.png);" data-name="Tangram"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-astray.png);" data-name="Astray"></span>
			
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-galaxies.png);" data-name="Galaxies"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-parabox.png);" data-name="Parabox"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-holdem.png);" data-name="Texas Hold'em"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-sudoku.png);" data-name="Sudoku"></span>
			
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-elite.png);" data-name="Elite Redux"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-fstudio.png);" data-name="Font Studio"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-vermeer.png);" data-name="Vermeer"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-synth.png);" data-name="Synth"></span>
			
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
		</div>
	</div>
	<!-- navigation -->
	<ul class="nav">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ul>
	<!-- navigation -->
	<div class="dock">
		<span class="slot" style="--icon: url(/app/ant/icons/app-icon-bell.png);" data-name="Bell"></span>
		<span class="slot" style="--icon: url(/app/ant/icons/app-icon-chat.png);" data-name="Chat"></span>
		<span class="slot"></span>
		<span class="slot"></span>
	</div>
</content>
