<content>
	<!-- homescreen -->
	<div class="reel">
		<div class="view">
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-2048.png);" data-name="2048"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-othello.png);" data-name="Othello"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-spotify.png);" data-name="Spotify"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-bell.png);" data-name="Bell"></span>

			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-witness.png);" data-name="Witness Redux"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-finder.png);" data-name="Finder"></span>
			<span class="slot" style="--icon: url(/app/ant/icons/app-icon-preferences.png);" data-name="Settings"></span>
			<span class="slot"></span>

			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
			<span class="slot"></span>
		</div>
	</div>
	<!-- navigation -->
	<ul class="nav">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ul>
	<!-- navigation -->
	<div class="dock">
		<span class="slot"></span>
		<span class="slot"></span>
		<span class="slot"></span>
		<span class="slot"></span>
	</div>
</content>
